:root {
  --azul: #0090d1;
}
nav {
  height: 80px;
}
article {
  display: block;
  margin-top: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  padding-bottom: 20px;
  transition: all 0.4s ease;

}

article > * {
  width: 100%;
  margin: auto;
  text-decoration: none;

}
article img {
  width: 60%;
  border-radius: 50%;
  margin-top: -30%;
  transition: all 0.4s ease;

}
.badge {
  background: var(--azul);
}
article:hover > img{
  width: 60%;
  border-radius: 10%;
  margin-top: -30%;
  transform: translateY(-10px);

}
.searcher input{
  width: 30%;
  min-width: 120px;
  margin-left: 10px;
}
.searcher span {
  margin-right: 0 !important;
}


article>span {
  padding: 5px 3px;
}
.containPodcast * {
  color: inherit !important;
  text-decoration: inherit !important;
}
.containPodcast>div {
  margin-top: 60px;
}
#app {
  padding-bottom: 30vh;

}
.brand {
  font-weight: 900;
  color: var(--azul) !important;
  text-decoration: inherit !important;
  font-size: 1.4rem;
}
